--extra-index-url https://download.pytorch.org/whl/cu127

pygame>=2.0.0
numpy>=1.19.0
torch>=2.7.0   # no “+cu127” suffix needed, conda will pull the right wheel
gym>=0.17.3
matplotlib>=3.3.2
tensorboard>=2.4.0
opencv-python>=4.9.0
imitation
stable-baselines3